
<div id="content">
  
  <header id="header">    
    <app-loader></app-loader>
    <div id="navbar">
      <div id="inside-navbar">

        <div id="logo-container">
          <a [routerLink]="['/login']"><div id="logo">Duo <br>Control</div></a>
        </div>
        <!--
        <div id="search" role="search">
          <input type="text"/>
          <button class="unicode-close">&#10006;</button>
          <button class="symbol">L</button>
        </div>
        -->
        <div id="user-panel-button" class="panel-link" *ngIf="isUser()">
          <a [routerLink]="(['/user-panel'])">Panel de usuario</a>
        </div>
        
        <div id="user-panel-button" class="panel-link" *ngIf="isAdmin()">
          <a [routerLink]="(['/admin-panel'])">Panel de administrador</a>
        </div>

        <div id="name-container">
          <p id="identity-name">{{identity.name}}</p>
        </div>
  
        <div id="exit-container" *ngIf="isAdmin() || isUser()">
          <button class="symbol" (click)="logout()" id="exit-button" id="exit">Salir</button>   
        </div>
        <div class="clear-fix"></div>  

      </div>
      
      
      
    </div>
    
  </header>

  <main id="main">
    <router-outlet></router-outlet>
  </main>
  <div class="clear-fix"></div>
  <footer id="footer">
    Footer
  </footer>
</div>