<div id="user-panel">
    <div id="user-panel-wrapper">
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="make-order" (click)="newOrderDialog(false)"> Crear una orden </button>
            </div>
        </div>
        
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="completed-work" (click)="newOrderDialog(true)"> Completar una orden </button>
            </div>
        </div>
        
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="new-model" (click)="newModelDialog()"> Nuevo modelo </button>
            </div>
        </div>
        
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="new-worker" (click)="newWorkerDialog()"> Nuevo operador </button>
            </div>
        </div>
        
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="worker-list" (click)="workerListDialog()"> Lista de operadores </button>
            </div>
        </div>
        
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="model-list" (click)="modelListDialog()" > lista de modelos </button>
            </div>
        </div>
        
        <div class="user-panel-section-wrapper">
            <div class="user-panel-section">
                <button id="edit-model"> Editar modelos </button>
            </div>
        </div>    
    </div>
    
</div>
